{{ if .IsPage }}
{{ $desc := .Params.description | default .Summary }}
{{ $author := dict "@type" "Person" "name" `Stéphan Uniatowitz` "url" (.Site.BaseURL | absURL) "jobTitle" "Technicien IT
& Expert Support Technique" }}
{{ $publisher := dict "@type" "Organization" "name" `Stéphan Uniatowitz - Technicien IT Marseille` "logo" (dict "@type"
"ImageObject" "url" ("images/logo.png" | absURL)) }}
{{ $pubDate := "" }}{{ if .PublishDate }}{{ $pubDate = .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}
{{ $modDate := "" }}{{ if .Lastmod }}{{ $modDate = .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}
{{ $schema := dict "@context" "https://schema.org" "@type" "Article" "headline" .Title "description" $desc "author"
$author "publisher" $publisher "datePublished" $pubDate "dateModified" $modDate "mainEntityOfPage" (dict "@type"
"WebPage" "@id" .Permalink) "inLanguage" "fr-FR" "articleSection" .Section }}
{{ if .Params.image }}{{ $schema = merge $schema (dict "image" (.Params.image | absURL)) }}{{ end }}
{{ if .Params.tags }}{{ $schema = merge $schema (dict "keywords" (delimit .Params.tags ", ")) }}{{ end }}
<script type="application/ld+json">
    {{ $schema | jsonify | safeJS }}
  </script>
{{ end }}