{{ define "main" }}
  <div class="prose dark:prose-invert max-w-none">
    <h1 class="text-center">{{ .Title }}</h1>
    
    <div class="text-center mb-12">
      <p>Bienvenue sur mon blog. Je partage ici des tutoriels, des analyses et des réflexions sur la cybersécurité, l'administration système et les nouvelles technologies.</p>
    </div>

    <div class="not-prose grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      {{ range .Pages.ByDate.Reverse }}
        {{ $page := . }}
        <div class="flex flex-col rounded-lg shadow-lg hover:shadow-2xl hover:scale-[1.03] transition-all duration-300 bg-white dark:bg-neutral-800 overflow-hidden">
          
          {{ with .Params.image }}
            <a href="{{ $page.RelPermalink }}" class="block">
              <img src="{{ . | relURL }}" alt="Image pour {{ $page.Title }}" class="w-full h-48 object-cover">
            </a>
          {{ end }}

          <div class="p-6 flex flex-col flex-grow">
            <div class="mb-2">
              {{ with .Params.tags }}
                {{ range first 1 . }} <span class="text-xs font-semibold text-primary-500 uppercase">{{ . }}</span>
                {{ end }}
              {{ end }}
            </div>
            
            <h2 class="!my-0 !text-xl">
              <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
            </h2>
            <p class="!my-2 flex-grow text-sm">
              {{ $page.Summary }}
            </p>
            
            <div class="text-xs text-neutral-500 dark:text-neutral-400 mt-4 border-t border-neutral-200 dark:border-neutral-700 pt-3">
              <span>{{ $page.Date.Format "2 Jan 2006" }}</span>
              <span class="mx-1">•</span>
              <span>{{ $page.ReadingTime }} min de lecture</span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
