{{ define "main" }}
  <div class="prose dark:prose-invert max-w-none">
    <h1 class="text-center">{{ .Title }}</h1>
    
    <div class="text-center mb-12">
      {{ .Content }}
    </div>

    <div class="not-prose grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      {{ range .Pages }}
        {{ $page := . }}
        <div 
          data-aos="fade-up" 
          class="flex flex-col rounded-lg shadow-lg hover:shadow-2xl hover:scale-[1.03] transition-all duration-300 bg-white dark:bg-neutral-800 overflow-hidden">
          
          {{ with .Params.image }}
            <a href="{{ $page.RelPermalink }}" class="block">
              <img src="{{ . | relURL }}" alt="Image pour {{ $page.Title }}" class="w-full h-48 object-cover">
            </a>
          {{ end }}

          <div class="p-6 flex flex-col flex-grow">
            <h2 class="!my-0 !text-xl">
              <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
            </h2>
            <div class="text-sm text-neutral-500 dark:text-neutral-400 mb-2">
              Publié le {{ $page.Date.Format "2 January 2006" }}
            </div>
            <p class="!my-2 flex-grow">
              {{ $page.Summary }}
            </p>
            <a href="{{ $page.RelPermalink }}" class="font-semibold !no-underline mt-4 self-start">Lire la suite →</a>
          </div>
        </div>
      {{ end }}
      
    </div>

  </div>
{{ end }}