{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <p><em>Publié le {{ .Date.Format "2 January 2006" }}</em></p>
    <hr>
    <div>
      {{ .Content }}
    </div>

    {{ with .Params.technologies }}
      <h3>Technologies utilisées</h3>
      <ul>
        {{ range . }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    {{ end }}

    {{ with .Params.github }}
      <a href="{{ . }}" target="_blank">Voir le code sur GitHub</a><br>
    {{ end }}

    {{ with .Params.demo }}
      <a href="{{ . }}" target="_blank">Voir la démo en ligne</a>
    {{ end }}
  </article>
{{ end }}
